body {
  background-color: #101010;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

section, aside, div {
  padding: 20px;
  border-radius: 12px;
}

h1 { 
  font-size: 4rem; 
}

h2 { 
  font-size: 3rem; 
}

h1, h2, h3 {
  margin-top: 0px;
}

.flex-container {

  display: flex;
  }

.main-content {
  flex: 1;
}

.sidebar {
  flex: 2;
}
